* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}

#app {
  height: 100%;
  width: 100%;
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.controls {
  width: 100%;
  max-width: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.search-input {
  outline: none;
  border: none;
  flex-grow: 1;
  padding: 0.5rem 0.5rem;
  border-radius: 0.7rem;
  font-size: 1rem;
}

.unit-toggle {
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  cursor: pointer;
}

#weather-card {
  width: 100%;
  max-width: 45rem;
  padding: 2rem;
  border-radius: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.widgets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.description {
  margin-top: 1rem;
  line-height: 1.5;
}

.forecast {
  width: 100%;
  max-width: 15rem;
  background-color: rgb(145, 145, 221);
  display: flex;
  overflow-x: auto;
  gap: 0.7rem;
  scroll-snap-type: x mandatory;
  border-radius: 1rem;
}

.forecast::-webkit-scrollbar {
  display: none;
}

.day-card {
  padding: 1rem 1rem;
  width: inherit;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  scroll-snap-align: start;
  scroll-snap-stop: start;
}


